fastapi
sqlalchemy
uvicorn
pydantic
psycopg2-binary
dotenv
pytest 
pytest-asyncio                                        
httpx 
anyio 
pytest-asyncio 


# JWT and password hashing dependencies
python-jose 
passlib[bcrypt]


python-multipart
